<div class="search_flight text-center">
  <h1 class="header-text">Flight Ticket Booking</h1>
    <div class="x-panel">
    <%= form_tag("/bookings", method: 'get') do%>
      <%= hidden_field_tag 'search', true%>
      <div class="row vertical-align">
        <div class="col-xs-4">
          <%= label_tag 'Origin' %>
          <%= text_field_tag 'origin', "", class: 'form-control', required: true, placeholder: 'where you start'%>
        </div>
        <div class="col-xs-4">
          <%= label_tag 'Destination' %>
          <%= text_field_tag 'destination', "", class: 'form-control', required: true, placeholder: 'Where you go'%>
        </div>
        <div class="col-xs-4">
          <%= label_tag 'Date' %>
          <%= date_field_tag 'date', "", class: 'form-control', required: true, placeholder: 'Enter Your PNR'%>
        </div>
      </div>
      <br>
      <div>
        <%= submit_tag 'Search', class: 'btn btn-default' %>
      </div>
    <% end %>
      <hr>
      <br>
      <%= form_tag("/bookings", method: 'get') do%>
      <div class="row vertical-align">
        <div class="col-xs-6">
          <h5 class="pull-left">If already booked, search here the plane through your PNR Number</h5>
        </div>
        <div class="col-xs-3">
          <%= text_field_tag 'pnr', "", class: 'form-control', placeholder: 'Enter Your PNR'%>
        </div>
        <div class="col-xs-2">
          <%= submit_tag 'search' , class: 'btn btn-default'%>
        </div>
      </div>
      <% end %>
    </div>
  <br>
  <% if params[:commit].present?%>
    <div class="x-panel">
      <div class="x_content table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Plane Name</th>
            <th>Plane Type</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          <% if @planes.present? %>
            <% @planes.each_with_index do |plane, index|%>
              <tr>
                <td><%= plane.name%></td>
                <td><%= plane.plane_type%></td>
                <td><%= plane.origin%></td>
                <td><%= plane.destination%></td>
                <td><%= plane.date%></td>
                <td class="action_icon">
                  <%= link_to '<i class="fa fa-book blue font16"></i>'.html_safe, new_booking_path(plane_id: plane), title: "Book Ticket" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td align="center"><p>Records Not Found </p></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>