<div class="book-ticket text-center">
  <div class="x-panel">
    <h1>View Seats</h1>
    <span class="purple price-cls">First Class Price(Fi): ($) <%= price_list('First Class')%></span>
    <span class="aero price-cls">Business Class Price(Bu): ($) <%= price_list('Business Class')%></span>
    <span class="blue price-cls">Economic Class Price(EC): ($) <%= price_list('Economic Class')%></span>
    <br>
    <%= form_for(@user, url: { controller: "bookings", action: "create" }, html: { :class => "form" }, method: "post") do |user| %>
      <div class="form-group col-md-12 col-sm-12 col-xs-12 booking-seats">
        <div class="error"><%= flash[:error]%></div>
        <ul class="no-list-style">
          <%= user.collection_check_boxes(:user_seat_ids, @plane_seats || [], :id, :seat_number) do |b| %>
            <li class="col-md-<%= 12/b.object.seat_category.number_of_seat_in_row%>">
              <%= b.check_box(checked: b&.object&.is_booked, disabled: b&.object&.is_booked) %>
              <%= b.label(id: "seat_booking"+"#{b.object.is_booked}") %>
            </li>
          <% end %>
        </ul>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-4">
          <%= user.hidden_field :plane_id, value: params[:plane_id] %>
          <%= user.label "Name"%>
          <%= user.text_field :name, class: 'form-control text-center', required: true, placeholder: 'Enter Your Name' %>
        </div>
        <div class="col-xs-4">
          <%= user.label "Date Of Birth"%>
          <%= user.date_field :date_of_birth, class: 'form-control store-fltr cities', required: true%>
        </div>
        <div class="col-xs-4">
          <%= user.label "Gener"%>
          <%= user.select(:gener, options_for_select([ "Male", "Female" ]), {prompt: 'Select'}, { class: 'form-control store-fltr cities'}) %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-4">
          <%= user.label "Email"%>
          <%= user.email_field :email, class: 'form-control text-center', required: true, placeholder: 'Enter your Email Id'%>
        </div>
        <div class="col-xs-4">
          <%= user.label "Phone Number"%>
          <%= user.text_field :phone_number, class: 'form-control text-center', required: true, placeholder: 'Enter your phone number'%>
        </div>
        <div class="col-xs-1">
          <%= user.label "Adult"%>
          <%= user.text_field :adult_count, class: 'form-control text-center', placeholder: '12+'%>
        </div>
        <div class="col-xs-1">
          <%= user.label "Child"%>
          <%= user.text_field :child_count, class: 'form-control text-center', placeholder: '2 - 11'%>
        </div>
        <div class="col-xs-1">
          <%= user.label "Adult"%>
          <%= user.text_field :infant_count, class: 'form-control text-center', placeholder: '2-'%>
        </div>
      </div>
      <br>
      <div class="book-ticket">
        <%= user.submit'book ticket', id: 'book_ticket', class: 'btn btn-primary'%>
        <%= link_to "cancel", planes_path, class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>